
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title></title>

<!-- Bootstrap -->
<link rel="stylesheet" href="../../../Public/css/bootstrap.min.css" >
<link rel="stylesheet" href="../../../Public/css/bootstrap-treeview.min.css">
<link rel="stylesheet" href="../../../Public/css/self.css">
<script src="../../../Public/js/jquery-3.1.0.min.js"></script>
<script src="../../../Public/js/bootstrap.min.js"></script>
<script src="../../../Public/js/bootstrap-treeview.min.js"></script>
</head>
<body>
	<div class="row">
  <div class="col-xs-6">
  	<div class="col-md-12">
               当前拍照尺寸
        </div>

        <div class="col-md-6">
        	拍照时间 <button type="button" class="btn btn-default">2016－07-31 08:00:00 </button>
        </div>
        <div class="col-md-6">
        	MEID <button type="button" class="btn btn-default">MEIZ</button>

        </div>
        <div class="col-md-6">
        	电话号码 <button type="button" class="btn btn-default">123456887478</button>
        </div>
        <div class="col-md-6">
        	IMSI  <button type="button" class="btn btn-default">imsi</button>

        </div>
 
<div class="col-md-12">
               <img src="../../../Public/1.jpg" width="600" height="800" />
        </div>



  </div>


  <div class="col-xs-6">
 <div class="col-md-12">
             设置历史图片
       </div>

<div class="col-md-12">
        	<button type="button" class="btn btn-default">拍照设置</button>
            <button type="button" class="btn btn-default">主动拍照</button>
            <button type="button" class="btn btn-default">历史图片查询</button>
            <button type="button" class="btn btn-default">微信推送</button>
            <button type="button" class="btn btn-default">画面对比</button>
            <button type="button" class="btn btn-default">视频拍照</button>
            <input type="checkbox" name="" value="" />固定隐藏点
             
       </div>


  		<div class="col-md-6">
              <div>拍照时间：2016-07-16 08：29；29</div>
              <img src="../../../Public/1.jpg" width="300" height="400" />
        </div> 


		<div class="col-md-6">
              <div>拍照时间：2016-07-16 08：29；29</div>
              <img src="../../../Public/1.jpg" width="200" height="300" />
        </div> 
        <div class="col-md-6">
              <div>拍照时间：2016-07-16 08：29；29</div>
              <img src="../../../Public/1.jpg" width="200" height="300" />
        </div> 
        <div class="col-md-6">
              <div>拍照时间：2016-07-16 08：29；29</div>
              <img src="../../../Public/1.jpg" width="200" height="300" />
        </div> 
  <div class="col-md-12">
             巡视状态
       </div>
   <div class="col-md-12">
             当前状态 ： 正常     电量／时间： 6.8 v  ／  2016-07-06  07:20：09 
       </div>
   <div class="col-md-12">
             隐患类型 ：<select>
                     <option value ="volvo" selected="selected"> 无缺陷</option>
                     <option value ="saab">Saab</option>
                       <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                  </select>
                  <input type="text" value="保存" size="5">
                   <input type="checkbox" name="" value="" />重点标记
       </div>

   





  
</div>


        
























</body>
</html>