<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
  #allmap {width: 100%;height: 100;font-family:"微软雅黑";}
  </style>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eE2DKK8r5Z9qVBs00FsDcRG3Mv3I6IGe"></script>
    <title>Bootstrap的HTML标准模板</title>   
        <!-- Bootstrap 
        <link href="__CSS__/bootstrap.min.css" rel="stylesheet">-->
        <css href='../../../Public/css/bootstrap.css' />

        <css href='../../../Public/css/bootstrap-treeview.min.css' />
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script> 
        <script src="../../../Public/js/bootstrap-treeview.min.js"></script> 
        <script type="text/javascript">

        function myFunction()
        {
          $.get("__URL__/group",function(data,status){
            $('#tree').treeview({
              data: data,
              onNodeSelected: function(event, node) {
            		// 事件代码...
               //alert(node.text);

               $.get("__URL__/device_info",{device_id: node.text}, function(data,status){
                    //alert(data[0].device_photo_size);
                    $("#device_id").val(data[0].device_id);
                    $("#device_photo_size").val(data[0].device_photo_size);
                    $("#device_photo_quality").val(data[0].device_photo_quality);
                    $("#device_photo_starttime").val(data[0].device_photo_starttime);
                    $("#device_photo_endtime").val(data[0].device_photo_endtime);
                    $("#device_frequency").val(data[0].device_frequency);
                    // alert(data[0].device_photo_auto);
                    if (data[0].device_photo_auto == "1") {
                      $("#device_photo_auto").attr("checked", true);
                    } else {
                      $("#device_photo_auto").attr("checked", false);
                    }

                    var point = new BMap.Point(data[0].longitude, data[0].latitude)

                    var map = new BMap.Map("allmap");    // 创建Map实例
                    map.centerAndZoom(point, 11);  // 初始化地图,设置中心点坐标和地图级别
                    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
                    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
                    var mk = new BMap.Marker(point);
                    map.addOverlay(mk);
               });
              }
            });
          });
        }

        $(document).ready(myFunction);

        $('#tree').on('nodeSelected', function(event, data) {
         alert(data);

        });             
        $('#tree').on('nodeChecked', function(event, data) {
         alert(data);

        });        

        </script>

<!--你自己的样式文件 -->

<!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
      <body>
        
        

	
  
<div class="col-md-3" id='tree'></div>


<div class="col-md-9">
  <p><a href="">实时拍照</a></p>
  <p> <a href="__URL__/loginout">退出登录</a> </p>
 <p>
  <td>设备属性 当前设备状态： <td>
  </p>

<form action="__URL__/device_info_save" method="post">

 
<div class="row">
  <div class="col-md-1">编号</div>
  <div class="col-md-2">拍照尺寸</div>
  <div class="col-md-2">拍照质量（1-100之间的整数）</div>
  <div class="col-md-2">拍照开始时间（24小时制）</div>
  <div class="col-md-2">拍照结束时间（24小时制）</div>
  <div class="col-md-1">拍照频率（分钟）</div>
  <div class="col-md-1">自动拍照</div>
  <div class="col-md-1"></div>
</div>


<div class="row">

  <div class="col-md-1"><input name = "device_id" id = "device_id" type="text" value="" size="10"></div>
  <div class="col-md-2"><input name = "device_photo_size" id = "device_photo_size" type="text" value="" size="10">          </div>
  <div class="col-md-2"><input name = "device_photo_quality"  id = "device_photo_quality"   type="text" value="" size="20"> </div>
  <div class="col-md-2"><input name = "device_photo_starttime" id = "device_photo_starttime" type="text" value="" size="20"></div>
  <div class="col-md-2"><input name = "device_photo_endtime"  id = "device_photo_endtime"   type="text" value="" size="20"> </div>
  <div class="col-md-1"><input name = "device_frequency"      id = "device_frequency"      type="text" value="" size="10">  </div>
  <div class="col-md-1"><input name = "device_photo_auto"     id = "device_photo_auto"     type="checkbox" />是             </div>
  <div class="col-md-1">        <input type="submit" value="更新配置" /></div>
</div>

</form>

<br/>

<div class="container-fluid">
          <div class="row">
           

            <div  class="col-md-9" id="allmap" style="width:697px;height:550px;border:#ccc solid 1px"></div>





</div>
<div>
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


</div>
</div>
</div>
</div>

<div><?php
echo "<p> ".date("Y") . © ." 同瑞信息 版权所有</p>";
?></div>

</body>
</html>
<script type="text/javascript">

</script>

